# 02467 Computational Social Science
## Project assignment
### Group 15

Our GitHub repo is availabe at: https://github.com/Simo067m/ComSocSci-Assignments <br>
Contribution:
- s233304 : 
- s214592 : 
- s204133 :

In [84]:
# Import packages
import pandas as pd
import requests
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

# Part 1: Data collection

## Api endpoint details:
> - **discover/movie**: Returns movies which matches the searching criteria, like release date, language and more.
> - **movie/{movie_id}**: Returns top level details on movie {movie_id}, like budget, popularity and rating.
> - **movie/{movie_id}/credits**: Returns the credits for a movie, which includes the cast.
> - **person/{person_id}**: Returns details for a person, like their name, age and known_for_department.

In [85]:
# Define API constants
BASE_LINK = "https://api.themoviedb.org/3/"
BEARER_KEY = "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMWVhYzZmOGFiZmExNTdjZDlmZGE0NjlmMzgwMDRmMCIsInN1YiI6IjY2MGQwNmY1ZTAzOWYxMDE2MmU1YjE5ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.scqbmlrV6kJBWwBptUdDt41vR-fzn5fDJjnGoAF3c_0"

headers = {
    "accept" : "application/json",
    "Authorization" : BEARER_KEY
}

In [86]:
# Find movies
for i in tqdm(range(1, 501), desc="Downloading data"):
    url = BASE_LINK + "discover/movie?include_adult=false&include_video=false&language=en-US&page=" + str(i) + "&sort_by=primary_release_date.desc&year=2024"
    response = requests.get(url, headers=headers)
    data = response.json()
    if i == 1:
        df = pd.DataFrame(data['results'])
    else:
        
        df = pd.concat([df, pd.DataFrame(data['results'])], ignore_index=True)

Downloading data: 100%|██████████| 500/500 [02:58<00:00,  2.81it/s]

In [87]:
df.to_csv("test.csv")

In [88]:
# Find the cast of each movie
for i in tqdm(range(0, len(df) // 20), desc="Downloading data"):
    url = BASE_LINK + "movie/" + str(df['id'][i]) + "/credits"
    response = requests.get(url, headers=headers)
    data = response.json()
    if i == 0:
        df2 = pd.DataFrame(data['cast'])
    else:
        df2 = pd.concat([df2, pd.DataFrame(data['cast'])], ignore_index=True)

Downloading data: 100%|██████████| 500/500 [01:56<00:00,  4.30it/s]

In [94]:
df["release_date"].min()

'2023-12-09'

In [95]:
df2.drop_duplicates()

,adult,gender,id,known_for_department,name,original_name,popularity,profile_path,cast_id,character,credit_id,order
0,False,0,1473742,Acting,Thanet Thorn,Thanet Thorn,1.249,/t8cvGtj4KAHIScRogTWb4QbTzwG.jpg,7,Sorya,659cc6e4ca4f6701ffcaf3b2,0
1,False,2,235147,Acting,Yoshihiko Hosoda,Yoshihiko Hosoda,6.185,/dPG05qmZNGiIhcldQb0Cc9hfiDM.jpg,1,Daichi,658049ac02576407c148b193,1
2,False,1,1732840,Acting,Sveng Socheata,Sveng Socheata,2.790,/1IG3QcavC4iMTNmiYAjVtKKujr0.jpg,2,Aunt Mao,658049b22f8d090913a7de78,2
3,False,2,1678180,Acting,Rous Mony,Rous Mony,1.879,/t480vOVBWg0WBN6vUALKg38luvY.jpg,8,Jam,659cc70522df2e025632cf26,3
4,False,2,1762312,Acting,Katsuya Maiguma,Katsuya Maiguma,12.469,/53zjOtTcEWIN1lbKzyPNEAISvuJ.jpg,9,Hiro,659cc710cf48a100ee441dfe,4
...,...,...,...,...,...,...,...,...,...,...,...,...
3690,False,2,86014,Acting,Jackie Shroff,Jackie Shroff,9.343,/1UNJypgEyuihUW2avLLVYj76jie.jpg,8,Omar Hafeez,64abcddae24b9300e3277ce3,5
3691,False,1,53975,Acting,Deepika Padukone,Deepika Padukone,21.208,/sXgEh0z6NzyvmEeBeLPK1ON7NBY.jpg,3,Shakti Shetty,6392202c1dcb7700a2fcc36a,6
3692,False,2,1034470,Acting,Arjun Kapoor,Arjun Kapoor,6.580,/24NE9QaKp66sM6C3eCsGUuleXXf.jpg,11,Danger Lanka,650430e5ea37e000e3a52d05,7
3693,False,1,1240790,Acting,Shweta Tiwari,Shweta Tiwari,5.769,/va9vSbIXmVTLW8mLEpivyLOR13n.jpg,16,,65c617c8dbcade017b707578,8
3694,False,2,4173925,Acting,Arun Dwivedi,Arun Dwivedi,0.996,None,17,,65f18b2306f98401624325c3,9